* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  background: #eee;
  color: #333; }

b {
  font-weight: 900; }

header {
  width: 960px;
  margin: 0 auto;
  padding-bottom: 3rem; }
  header h1, header h2 {
    margin: 0;
    padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Ruda", sans-serif;
  font-weight: 700;
  text-shadow: 1px 1px 0px white; }

h1 {
  font-weight: 900; }

h2 {
  font-weight: 500; }

div#bar {
  margin: 0;
  padding: 2.5rem 0 1.5rem;
  background: red url("../img/question.svg") left center no-repeat;
  background-size: auto 150%; }
  div#bar img {
    opacity: .5;
    float: left;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out; }
  div#bar h2 {
    width: 960px;
    margin: 0 auto;
    font-weight: 900;
    text-shadow: none;
    color: #fff;
    padding: 0 0 1rem 27.5%;
    text-shadow: 0 2px 5px #cc0000; }
  div#bar p {
    color: rgba(255, 255, 255, 0.85);
    width: 960px;
    margin: 0 auto;
    margin-bottom: 1rem;
    padding-left: 30%;
    font-weight: normal; }

div#bar:hover img {
  opacity: .8; }

div#codez {
  background: #333;
  color: #ccc;
  box-shadow: inset 0px 0px 60px 0 rgba(0, 0, 0, 0.5);
  padding: 5% 0; }
  div#codez h2 {
    width: 960px;
    margin: 0 auto;
    padding: 0 0 1rem;
    font-weight: 900;
    text-shadow: none;
    color: #fff;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); }
  div#codez p {
    margin: 0;
    padding-left: 2.5%;
    width: 960px;
    margin: 0 auto; }
  div#codez span {
    font-weight: bold;
    border-bottom: 1px dashed #444444; }
  div#codez p.unicode {
    font-family: "Courier New", Courier, monospace;
    color: green;
    font-size: 1.2rem; }

div#the-goods {
  padding: 5% 0;
  width: 960px;
  margin: 0 auto; }

figure {
  width: 45%;
  background: #fff;
  border-radius: 5px;
  text-align: center;
  float: left;
  margin-bottom: 10%; }
  figure img {
    width: 100%; }

figure:nth-child(odd) {
  margin-left: 10%; }

figcaption {
  font-family: "Ruda", sans-serif;
  font-weight: 700; }
