@import 'bourbon';
@import 'neat/neat';

$noticia:'Noticia Text', georgia, serif;

$ruda: 'Ruda', sans-serif;

$red:red;

@mixin wrapper{
	width: 960px;
	margin: 0 auto;
}

$code: "Courier New", Courier, monospace;


body {
     -webkit-font-smoothing: antialiased;
     font-smoothing: antialiased;
     background: #eee;
     color: #333;
}


b{
	font-weight: 900;
}
header{
	@include wrapper;
	padding-bottom: 3rem;
	
	h1,h2{
		margin: 0;
		padding: 0;
	}
}

h1,h2,h3,h4,h5,h6{
	font-family: $ruda;
	font-weight: 700;
	text-shadow: 1px 1px 0px #fff;
}

h1{
	font-weight: 900;
}
h2{
	font-weight: 500;
}

div#bar{
	margin: 0;
	padding: 2.5rem 0 1.5rem;
	background: $red url('../img/question.svg') left center no-repeat;
	background-size: auto 150%;	
;

	img{
		opacity: .5;
		float:left;
		
		@include transition(all .2s ease-out);

	}	
	h2{
		@include wrapper;
		font-weight: 900;
		text-shadow: none;
		color: #fff;
		padding: 0 0 1rem 27.5%;
		text-shadow: 0 2px 5px darken($red,10%);

	}
	
	p{
		color: rgba(255,255,255,.85);
		@include wrapper;
		margin-bottom: 1rem;
		padding-left: 30%;
		font-weight: normal;

	}
}

div#bar:hover{
	img{
		opacity: .8;
	}
}

div#codez{
	background: #333;
	color: #ccc;	
	box-shadow: inset 0px 0px 60px 0 rgba(0,0,0,.5);
	padding: 5% 0;
	
	h2{
		@include wrapper;
		padding: 0 0 1rem;
		font-weight: 900;
		text-shadow: none;
		color: #fff;
		text-shadow: 0 2px 5px rgba(0,0,0,.5);

	}
	
	p{
		margin: 0;
		padding-left: 2.5%;
		@include wrapper;
	}
	
	span{
		font-weight: bold;
		border-bottom: 1px dashed #444;
	}
	
	p.unicode{
		font-family: $code;
		color: green;
		font-size: 1.2rem;
	}
}

div#the-goods{
	padding: 5% 0;
	@include wrapper;
}

figure{
	width: 45%;
	background: #fff;
	border-radius: 5px;
	text-align: center;
	float: left;
	margin-bottom: 10%;
	
	img{
		width: 100%;
	}
}

figure:nth-child(odd){
	margin-left: 10%;
}

figcaption{
	font-family: $ruda;
	font-weight: 700;
}